.header {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 10px;
    font-weight: 900;
    background: turquoise;
    box-shadow: 6px 6px 12px rgb(84, 226, 212), -6px -6px 12px rgb(34, 163, 150);
}