:root {
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
    --font-sans: 'Rubik', sans-serif;
    --font-serif: 'Cardo', serif;
}

.ib-container {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

ul {
    list-style-type: none;
}

h4 {
    display: inline;
}

.ib-info-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;
    width: 98%;
}

.ib-info {
    position: absolute;
    top: -3rem;
    padding: 1rem;
    color: honeydew;
    border-radius: 25px;
    background: rgb(27, 26, 26);
    overflow: hidden;
}

.ib-tags {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.image {
    width: 25vw;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

@media screen and (max-width: 500px) {
    .image {
        width: 80vw;
    }
}